body {
    max-width: 1000px;
    margin: 1em auto;
    width: 50em;
    max-width: calc(100% - 2em);
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    border-style: solid;
    border-width: 2px;
}

h2 {
    border-bottom: solid;
    border-width: 1px;
}

p {
    text-align: justify;
}

img {
    width: 100%;
}
